.left,
.right {
  min-height: 100vh;
}

.bg-image {
  background-image: url('./images/JavaScript-code.jpg');
  filter: blur(1px);
  filter: brightness(.7);
  background-size: cover;
  background-position: center center;
}
.text-side{
  background-color: #1e1e1e;
}


.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background-color: #333;
  color: #ffffff !important;
  border: 3px solid #ffffff !important;
  outline: white;
  transition: 1s ease-in-out;
}

.btn:focus,
.btn:hover {
  transition: 1s ease-in-out;
  color: #1e1e1e !important;
  background: #ffffff;
}
