/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Scroll Bar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;  
} 

/* Creting parallax for the header */
.parallax {

  background-image: url("./images/background.jpg");


  min-height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.type-container{
  display: inline-block;
}

.typed-out {
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  animation: 
    typing 2s forwards,
    blinkTextCursor 1s steps(2) infinite normal;
  font-family: 'Anonymous Pro', monospace;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,1);}
  to{border-right-color: transparent;}
}
.mycentered-text {
  text-align:center
}
.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
} 
.btn-5 {
  background: #000;
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-5:hover {
  background: rgba(32, 32, 32, 0.815);
  color: rgb(255, 255, 255);
  border: 1mm, white;
}
/* Sub Text */
.sub-text{
  font-size: x-small ;
}

/* Text Decoration */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}